<div class="container">
    <h2>JOB REGISTRATION</h2>
    <form [formGroup]="registerJobForm" class="row g-3 needs-validation" novalidate #jobForm="">

      <div class="row">
        <div class="col-25">
          <label for="jobPosition">Job Position</label>
        </div>
        <div class="col-75">
          <input type="text" required formControlName="jobPosition" id="jobPosition" name="jobPosition" class="form-control" required>
          
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-25">
          <label for="CompanyName">Company Name </label>
        </div>
        <div class="col-75">
          <input type="text" required formControlName="email" id="jobPosition" name="jobPosition" class="form-control" required>
        </div>
      </div> -->

      <div class="row">
        <div class="col-25">
          <label for="vacancyCount">Vacancy Count</label>
        </div>
        <div class="col-75">
          <input type="number" required formControlName="vacancy" id="vacancy" name="vacancyCount" class="form-control" min="1" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="location">Location</label>
        </div>
        <div class="col-75">
          <select class="form-select" id="location" name="location" required formControlName="location" >
            <option value="" disabled selected>Select Location</option>
            <option value="All States in Malaysia">All States in Malaysia</option>
            <option value="Johor">Johor</option>
            <option value="Kedah">Kedah</option>
            <option value="Kelantan">Kelantan</option>
            <option value="Kuala Lumpur">Kuala Lumpur</option>
            <option value="Melaka">Melaka</option>
            <option value="Negeri Sembilan">Negeri Sembilan</option>
            <option value="Pahang">Pahang</option>
            <option value="Penang">Penang</option>
            <option value="Perak">Perak</option>
            <option value="Perlis">Perlis</option>
            <option value="Sabah">Sabah</option>
            <option value="Sarawak">Sarawak</option>
            <option value="Selangor">Selangor</option>
            <option value="Terengganu">Terengganu</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="salaryOffer">Salary Offer</label>
        </div>
        <div class="col-75">
          <input type="number" required formControlName="salaryOffer" id="salaryOffer" name="salaryOffer" class="form-control" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="jobDescription">Job Description</label>
        </div>
        <div class="col-75">
          <textarea id="jobDescription" required formControlName="jobDescription" name="jobDescription" class="form-control" rows="3" required></textarea>
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="closingDate">Closing Date</label>
        </div>
        <div class="col-75">
          <input type="date" required formControlName="closingDate" id="closingDate" name="closingDate" class="form-control" required>
        </div>
      </div>

      
      
      <div class="row">
        <button pButton pRipple type="submit" (click)="onSubmit()" label="Submit" icon="pi pi-user" class="w-full"></button>
        <!-- <input type="submit" value="Submit"> -->
      </div>
    </form>
</div>