<div class="row">
    <div class="col-md-5">
        <h5>
            <a href="pages/job-detail.html">Frontend Developer</a>
        </h5>
        <ul class="list-inline">
            <li><a href="#"><img src="assets/images/logos/linkedin-logo.png" alt="">Linkedin</a></li>
            <li><label class="label bg-green lighten-1">Full-time</label></li>
        </ul>
    </div>
    <div class="col-md-5 jobpost-location">
        <span><i class="md-pin m-r-10"></i> New York City - USA</span>
    </div>
    <div class="col-md-2 jobpost-apply-btn">
        <a href="#" class="btn btn-primary btn-block btn-outline btn-sm waves-effect waves-button">Apply Now <i class="md-long-arrow-right m-l-10"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h5>
            <a href="pages/job-detail.html">Data Scientist</a>
        </h5>
        <ul class="list-inline">
            <li><a href="#"><img src="assets/images/logos/linkedin-logo.png" alt="">Linkedin</a></li>
            <li><label class="label bg-green lighten-1">Remote</label></li>
        </ul>
    </div>
    <div class="col-md-5 jobpost-location">
        <span><i class="md-pin m-r-10"></i> San Francisco - USA</span>
    </div>
    <div class="col-md-2 jobpost-apply-btn">
        <a href="#" class="btn btn-primary btn-block btn-outline btn-sm waves-effect waves-button">Apply Now <i class="md-long-arrow-right m-l-10"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h5>
            <a href="pages/job-detail.html">UX/UI Designer</a>
        </h5>
        <ul class="list-inline">
            <li><a href="#"><img src="assets/images/logos/linkedin-logo.png" alt="">Linkedin</a></li>
            <li><label class="label bg-green lighten-1">Contract</label></li>
        </ul>
    </div>
    <div class="col-md-5 jobpost-location">
        <span><i class="md-pin m-r-10"></i> London - UK</span>
    </div>
    <div class="col-md-2 jobpost-apply-btn">
        <a href="#" class="btn btn-primary btn-block btn-outline btn-sm waves-effect waves-button">Apply Now <i class="md-long-arrow-right m-l-10"></i></a>
    </div>
</div>
