<div class="container">
    <h2>CERTIFICATE</h2>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="certificate">Certificate</label>
        </div>
        <div class="col-75">
          <input type="text" id="certificate" name="certificate" placeholder="Enter certificate name..">
        </div>
      </div>
      <br>

        <div class="row">
            <div class="col-25">
              <label for="upload">Upload Certificate</label>
            </div>
            <div class="col-75">
              <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
              </form>
            </div>
          </div>

      <br>
      <div class="row">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
  
  
