<div class="container">
    <h3>USER INFORMATION</h3>
    <form action="action_page.php">

        <div class="row">
            <div class="col-25">
              <label for="title">Title:</label>
            </div>
            <div class="col-75">
              <!-- {{user_information.title}} -->
            </div>
        </div>

      <div class="row">
        <div class="col-25">
          <label for="fname">First Name:</label>
        </div>
        <div class="col-75">
        <!-- {{user_information.first_name}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="mname">Middle Name:</label>
        </div>
        <div class="col-75">
        <!-- {{user_information.middle_name}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name:</label>
        </div>
        <div class="col-75">
        <!-- {{user_information.last_name}} -->
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="email">Email:</label>
        </div>
        <div class="col-75">
          <!-- {{user_information.email}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="contactNo">Contact Number:</label>
        </div>
        <div class="col-75">
          <!-- {{user_information.contact_number}} -->
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <h3>USER DIVERSITY</h3>
    <form action="action_page.php">

        <div class="row">
            <div class="col-25">
              <label for="gender">Gender:</label>
            </div>
            <div class="col-75">
              <!-- {{user_diversity.gender}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="birthDate">Birth Date:</label>
            </div>
            <div class="col-75">
              <!-- {{user_diversity.birth_date}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="status">Marital Status:</label>
            </div>
            <div class="col-75">
              <!-- {{user_diversity.marital_status}} -->
            </div>
          </div>
    </form>
  </div>

  <div class="container">
    <h3>ADDRESS</h3>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="address">Address:</label>
        </div>
        <div class="col-75">
          <!-- {{address.address_line1}} -->
          <!-- {{address.address_line2}} -->
          <!-- {{address.address_line3}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="city">City:</label>
        </div>
        <div class="col-75">
          <!-- {{address.city}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="poscode">Poscode:</label>
        </div>
        <div class="col-75">
          <!-- {{address.poscode}} -->
        </div>
      </div>

        <div class="row">
            <div class="col-25">
              <label for="state">State:</label>
            </div>
            <div class="col-75">
              <!-- {{address.state}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="country">Country:</label>
            </div>
            <div class="col-75">
              <!-- {{address.country}} -->
            </div>
          </div>
    </form>
  </div>

  <div class="container">
    <h3>EDUCATION</h3>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="level">Education Level:</label>
        </div>
        <div class="col-75">
          <!-- {{education.education_level}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="grad">Graduation Year:</label>
        </div>
        <div class="col-75">
          <!-- {{education.graduation_year}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="school">Educational Institution:</label>
        </div>
        <div class="col-75">
          <!-- {{education.school}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="major">Major:</label>
        </div>
        <div class="col-75">
          <!-- {{education.major}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="startDate">Start Date:</label>
        </div>
        <div class="col-75">
           <!-- {{education.start_date}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="endDate">End Date:</label>
        </div>
        <div class="col-75">
           <!-- {{education.end_date}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="cgpa">CGPA:</label>
        </div>
        <div class="col-75">
           <!-- {{education.cgpa}} -->
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <h3>SKILL</h3>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="skill">Skill 1:</label>
        </div>
        <div class="col-75">
           <!-- {{skill.skill1}} -->
        </div>
      </div>

        <div class="row">
            <div class="col-25">
              <label for="skillLevel">Skill Level:</label>
            </div>
            <div class="col-75">
              <!-- {{skill.skill_level}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="skill">Skill 2:</label>
            </div>
            <div class="col-75">
              <!-- {{skill.skill2}} -->
            </div>
          </div>
    
            <div class="row">
                <div class="col-25">
                  <label for="skillLevel">Skill Level:</label>
                </div>
                <div class="col-75">
                  <!-- {{skill.skill_level}} -->
                </div>
              </div>

              <div class="row">
                <div class="col-25">
                  <label for="skill">Skill 3:</label>
                </div>
                <div class="col-75">
                  <!-- {{skill.skill3}} -->
                </div>
              </div>
        
                <div class="row">
                    <div class="col-25">
                      <label for="skillLevel">Skill Level:</label>
                    </div>
                    <div class="col-75">
                      <!-- {{skill.skill_level}} -->
                    </div>
                  </div>
    </form>
  </div>

  <div class="container">
    <h3>EXPERIENCE</h3>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="employer">Employer Name:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.employer_name}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="empAddress">Employer Address:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.employer_address}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="job">Job Title:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.job_title}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="startDate">Start Date:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.start_date}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="endDate">End Date:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.end_date}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="salary">Salary:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.salary}} -->
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="jobdesc">Job Description:</label>
        </div>
        <div class="col-75">
          <!-- {{experience.job_description}} -->
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <h3>CERTIFICATE</h3>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="certificate">Certificate Name:</label>
        </div>
        <div class="col-75">
          <!-- {{certificate.certificate_name}} -->
        </div>
      </div>
      <br>

        <div class="row">
            <div class="col-25">
              <label for="upload">Certificate Link:</label>
            </div>
            <div class="col-75">
              <!-- {{certificate.certificate_location}} -->
            </div>
          </div>
    </form>
  </div>
  

  <div class="container">
    <h3>REFERENCE</h3>
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">Reference Name:</label>
        </div>
        <div class="col-75">
          <!-- {{reference.name}} -->
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="position">Position:</label>
        </div>
        <div class="col-75">
          <!-- {{reference.position}} -->
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Email:</label>
        </div>
        <div class="col-75">
          <!-- {{reference.email}} -->
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="contact">Contact Number:</label>
        </div>
        <div class="col-75">
          <!-- {{reference.contact_number}} -->
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <h3>DOCUMENTS</h3>
    <form action="action_page.php">

        <div class="row">
            <div class="col-25">
              <label for="resume">Resume:</label>
            </div>
            <div class="col-75">
              <!-- {{user_documents.resume_location}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="coverletter">Cover Letter:</label>
            </div>
            <div class="col-75">
              <!-- {{user_documents.cover_letter_location}} -->
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="link">Link:</label>
            </div>
            <div class="col-75">
              <!-- {{user_documents.link1}} -->
            </div>
            <div class="col-75">
              <!-- {{user_documents.link2}} -->
            </div>
          </div>
    </form>
  </div>

  <div class="container">
    <h3>ADDITIONAL INFORMATION</h3>
    <form action="action_page.php">
  
      <div class="row">
        <div class="col-25">
          <label for="relocation">Relocation:</label>
        </div>
        <div class="col-75">
          <!-- {{additional_info.relocation}} -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="expectedSalary">Expected Salary:</label>
        </div>
        <div class="col-75">
          <!-- {{additional_info.expected_salary}} -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-25">
          <label for="noticePeriod">Notice Period:</label>
        </div>
        <div class="col-75">
          <!-- {{additional_info.notice_period}} -->
        </div>
      </div>
    </form>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
