<div class="container">
  <h3>USER INFORMATION</h3><br>
  <form action="action_page.php">

      <div class="row">
          <div class="col-25">
            <label for="title">Title</label>
          </div>
          <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Ms">

          </div>
      </div>

    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="SITI NAZLIAH BINTI BORHAN">
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="sitinazliah@gmail.com">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="contactNo">Contact Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="contactNo" name="contactNo" placeholder="01119788001">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="gender">Gender</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Female">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="birthDate">Birth Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="birthDate" name="birthDate" placeholder="06/08/1999">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="status">Marital Status</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Divorced">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="address">Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="address" name="address" placeholder="NO 13A">
        <input type="text" id="address" name="address" placeholder="LORONG 3">
        <input type="text" id="address" name="address" placeholder="TAMAN MAWAR">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="city">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="city" name="city" placeholder="JERANTUT">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="poscode">Poscode</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="27000">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="state">State</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="PAHANG">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="MALAYSIA">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="level">Education Level</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="Bachelor's Degree">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="grad">Graduation Year</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="2022">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="school">Educational Institution</label>
      </div>
      <div class="col-75">
        <input type="text" id="school" name="school" placeholder="UNIVERSITI PENDIDIKAN SULTAN IDRIS">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="major">Major</label>
      </div>
      <div class="col-75">
        <input type="text" id="major" name="major" placeholder="EDUCATIONAL SOFTWARE">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="startDate">Start Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="startDate" name="startDate" placeholder="01/09/2018">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="endDate">End Date</label>
      </div>
      <div class="col-75">
        <input type="text" id="startDate" name="startDate" placeholder="01/09/2022">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="cgpa">CGPA</label>
      </div>
      <div class="col-75">
        <input type="text" id="cgpa" name="cgpa" placeholder="3.78">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="skill">Skill 1</label>
      </div>
      <div class="col-75">
        <input type="text" id="skill" name="skill" placeholder="C++">
      </div>
    </div>

      <div class="row">
          <div class="col-25">
            <label for="skillLevel"></label>
          </div>
          <div class="col-75">
            <input type="text" id="skill" name="skill" placeholder="Intermediate">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="employer">Employer Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="employer" name="employer" placeholder="EMPLOEE PROVIDENT FUNDS">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="empAddress">Employer Address</label>
          </div>
          <div class="col-75">
            <input type="text" id="empAddress" name="empAddress" placeholder="LOT 1 JALAN WAWASAN 3 TAMAN WAWASAN">
            <input type="text" id="empAddress" name="empAddress" placeholder="27000 JERANTUT">
            <input type="text" id="empAddress" name="empAddress" placeholder="PAHANG">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="job">Job Title</label>
          </div>
          <div class="col-75">
            <input type="text" id="job" name="job" placeholder="PROTEGEE">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="startDate">Start Date</label>
          </div>
          <div class="col-75">
            <input type="text" id="startDate" name="startDate" placeholder="07/02/2023">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="endDate">End Date</label>
          </div>
          <div class="col-75">
            <input type="text" id="endDate" name="endDate" placeholder="06/08/2023">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="salary">Salary</label>
          </div>
          <div class="col-75">
            <input type="text" id="salary" name="salary" placeholder="RM 2550.00">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="jobdesc">Job Description</label>
          </div>
          <div class="col-75">
            <textarea id="jobdesc" name="jobdesc" placeholder="Handle all the customers that come to the office." style="height:200px"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="fname">Reference Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="rname" name="rname" placeholder="NASREEN KHAIRINA">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="position">Position</label>
          </div>
          <div class="col-75">
            <input type="text" id="position" name="position" placeholder="SOFTWARE ENGINEER">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="email">Email</label>
          </div>
          <div class="col-75">
            <input type="text" id="email" name="email" placeholder="nasreen@gmail.com">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="contact">Contact Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="contact" name="contact" placeholder="Enter reference contact number..">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="link">Link</label>
          </div>
          <div class="col-75">
            <input type="text" id="link" name="link" placeholder="https://drive.google.com/file/d/1EpdAjNjglbSuooYsBifPXYgy21mzobGr/view?usp=drivesdk">
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="relocation">Relocation</label>
          </div>
          <div class="col-75">
            <input type="text" id="relocation" name="relocation" placeholder="YES">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="expectedSalary">Expected Salary</label>
          </div>
          <div class="col-75">
            <input type="text" id="expectedSalary" name="expectedSalary" placeholder="RM 3000.00">
          </div>
        </div>
    
        <div class="row">
          <div class="col-25">
            <label for="noticePeriod">Notice Period</label>
          </div>
          <div class="col-75">
            <input type="text" id="noticePeriod" name="noticePeriod" placeholder="2 MONTHS">
          </div>
        </div>
  </form>
</div>













