<div class="container">
  <div class="row">
    <div class="column">
      <div class="row">
        <div class="col-80">
          <input type="text" id="employee" name="employee" placeholder="Employee name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-80">
          <input type="text" id="position" name="position" placeholder="Job Position">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-80">
          <input type="text" id="department" name="department" placeholder="Department">
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Picture -->
  <div class="row">
    <div class="col-20">
      <img src="employee_picture_1.jpg" alt="Employee Picture">
    </div>
  </div>
    </div>
  </div>
  <br>
<div class="row">
    <input type="submit" value="Update">
  </div>
</div>


<section><p></p></section>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="row">
          <div class="col-80">
            <input type="text" id="employee" name="employee" placeholder="Employee name">
          </div>
          <br>
        </div>
        <div class="row">
          <div class="col-80">
            <input type="text" id="position" name="position" placeholder="Job Position">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-80">
            <input type="text" id="department" name="department" placeholder="Department">
          </div>
        </div>
      </div>
      <br>
      <div class="column">
        <div class="row">
          <div class="col-20">
            <img src="employee_picture_1.jpg" alt="Employee Picture">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Update">
    </div>
  </div>

  <section><p></p></section>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="row">
          <div class="col-80">
            <input type="text" id="employee" name="employee" placeholder="Employee name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-80">
            <input type="text" id="position" name="position" placeholder="Job Position">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-80">
            <input type="text" id="department" name="department" placeholder="Department">
          </div>
        </div>
      </div>
      <br>
      <div class="column">
        <div class="row">
          <div class="col-20">
            <img src="employee_picture_1.jpg" alt="Employee Picture">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Update">
    </div>
  </div>

  <section><p></p></section>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="row">
          <div class="col-80">
            <input type="text" id="employee" name="employee" placeholder="Employee name">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-80">
            <input type="text" id="position" name="position" placeholder="Job Position">
          </div>
        </div>
        <div class="row">
          <div class="col-80">
            <input type="text" id="department" name="department" placeholder="Department">
          </div>
        </div>
      </div>
      <br>
      <div class="column">
        <div class="row">
          <div class="col-20">
            <img src="employee_picture_1.jpg" alt="Employee Picture">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Update">
    </div>
  </div>

  



