<div class="container">
  <h2>ADDITIONAL INFORMATION</h2>
  <form action="action_page.php">

    <div class="row">
      <div class="col-25">
        <label for="relocation">Relocation</label>
      </div>
      <div class="col-75">
        <input type="text" id="relocation" name="relocation" placeholder="Enter YES / NO">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="expectedSalary">Expected Salary</label>
      </div>
      <div class="col-75">
        <input type="text" id="expectedSalary" name="expectedSalary" placeholder="Enter your expected salary..">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="noticePeriod">Notice Period</label>
      </div>
      <div class="col-75">
        <input type="text" id="noticePeriod" name="noticePeriod" placeholder="Enter your notice period..">
      </div>
    </div>

    <br>
    <div class="row">
      <input type="submit" value="Save">
    </div>
  </form>
</div>
