<div class="container">
    <h2>Interview Session Update</h2><br>
    <form action="action_page.php">
  

    <input type="submit" value="Congratulations! You Pass."><br><br><br>

      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Siti Nazliah Binti Borhan">
      
      <label for="fname">Date</label>
      <input type="text" id="endDate" name="endDate" placeholder="06/08/2023">

      <label for="time">Time</label>
      <input type="text" id="time" name="time" placeholder="11:00 AM">

      <label for="time">Platform</label>
      <input type="text" id="time" name="time" placeholder="Online Interview">

      <label for="time">Location</label>
      <input type="text" id="time" name="time" placeholder="Zoom Meeting">

      <label for="time">Interview Stage</label>
      <input type="text" id="time" name="time" placeholder="Stage 1">
  
    </form>
  </div>

  <p></p><p></p>

  <div class="container">
    <h2>Interview Session Update</h2><br>
    <form action="action_page.php">

        <button class="btn danger">Failed.</button><br><br><br>
  
      <label for="fname">Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Siti Nazliah Binti Borhan">
      
      <label for="fname">Date</label>
      <input type="text" id="endDate" name="endDate" placeholder="28/08/2023">

      <label for="time">Time</label>
      <input type="text" id="time" name="time" placeholder="09:00 AM">

      <label for="time">Platform</label>
      <input type="text" id="time" name="time" placeholder="Live Interview">

      <label for="time">Location</label>
      <input type="text" id="time" name="time" placeholder="Johor Bahru, Johor">

      <label for="time">Interview Stage</label>
      <input type="text" id="time" name="time" placeholder="Stage 2">
  
    </form>
  </div>