<!-- user-experience.component.html -->
<div class="user-experience">
  <h2>Experience</h2>
  <form>
    <div>
      <label for="employerName">Employer Name:</label>
      <input type="text" id="employerName" name="employerName" pInputText class="w-full mb-3" required>
    </div>
    <div>
      <label for="jobTitle">Job Title:</label>
      <input type="text" id="jobTitle" name="jobTitle" pInputText class="w-full mb-3" required>
    </div>
    <div>
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" required>
    </div>
    <br>
    <div>
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" >
    </div>
    <br>
    <div>
      <label for="employerAddress">Employer Address:</label>
      <input type="text" id="employerAddress" name="employerAddress" pInputText class="w-full mb-3">
    </div>
    <div>
      <label for="salary">Salary:</label>
      <input type="number" id="salary" name="salary" pInputText class="w-full mb-3">
    </div>
    <div>
      <label for="jobDescription">Job Description:</label>
      <textarea id="jobDescription" name="jobDescription" pInputText class="w-full mb-3" rows="4"></textarea>
    </div>
    <button type="submit">Save</button>
  </form>
</div>


