/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  max-width: 400px; /* Adjust maximum width as needed */
  margin: 50px auto; /* Center the form horizontally with some top margin */
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: calc(100% - 40px); /* Reduce the width to leave some space on the sides */
  padding: 10px; /* Reduce padding for a more compact look */
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

// /* Set a style for all buttons */
// button {
//   background-color: #04AA6D;
//   color: white;
//   padding: 10px 18px; /* Reduce padding for a smaller button */
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: calc(100% - 20px); /* Reduce width for a smaller button */
// }

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 8px 12px; /* Reduce padding for a smaller cancel button */
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin-bottom: 20px; /* Reduce margin bottom for a tighter layout */
}

/* Avatar image */
img.logo {
  width: 50%; /* Adjust the width of the logo as needed */
}


/* Add padding to containers */
.container {
  padding: 12px; /* Reduce padding for a more compact container */
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 12px; /* Reduce padding top for a tighter layout */
}
