<div class="container">
    <h2>SKILL</h2>
    <form action="action_page.php">

      <div class="row">
        <div class="col-25">
          <label for="skill">Skill</label>
        </div>
        <div class="col-75">
          <input type="text" id="skill" name="skill" placeholder="Enter skill..">
        </div>
      </div>

        <div class="row">
            <div class="col-25">
              <label for="skillLevel">Skill Level</label>
            </div>
            <div class="col-75">
              <select id="skillLevel" name="skillLevel">
                <option value="" disabled selected>Select Skill Level</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                <option value="Expert">Expert</option>
              </select>
            </div>
          </div>

      <br>
      <div class="row">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
  
  