<div class="container">
  <h2>ADDRESS</h2>
  <form action="action_page.php">

    <div class="row">
      <div class="col-25">
        <label for="address">Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="address" name="address" placeholder="Address Line 1">
        <input type="text" id="address" name="address" placeholder="Address Line 2">
        <input type="text" id="address" name="address" placeholder="Address Line 3">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="city">City</label>
      </div>
      <div class="col-75">
        <input type="text" id="city" name="city" placeholder="Enter city..">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="poscode">Poscode</label>
      </div>
      <div class="col-75">
        <input type="text" id="poscode" name="poscode" placeholder="Enter poscode..">
      </div>
    </div>

      <div class="row">
          <div class="col-25">
            <label for="state">State</label>
          </div>
          <div class="col-75">
            <select id="state" name="state">
              <option value="" disabled selected>Select State</option>
              <option value="JHR">Johor</option>
              <option value="KDH">Kedah</option>
              <option value="KTN">Kelantan</option>
              <option value="MLK">Melaka</option>
              <option value="NSN">Negeri Sembilan</option>
              <option value="PHG">Pahang</option>
              <option value="PRK">Perak</option>
              <option value="PLS">Perlis</option>
              <option value="PNG">Penang</option>
              <option value="SBH">Sabah</option>
              <option value="SWK">Sarawak</option>
              <option value="SGR">Selangor</option>
              <option value="TRG">Kuala Terengganu</option>
              <option value="KUL">Kuala Lumpur</option>
              <option value="LBN">Labuan</option>
              <option value="PJY">Putrajaya</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="country">Country</label>
          </div>
          <div class="col-75">
            <select id="country" name="country">
              <option value="" disabled selected>Select Country</option>
              <option value="SG">Singapore</option>
              <option value="ID">Indonesia</option>
              <option value="TH">Thailand</option>
              <option value="BN">Brunei</option>
              <option value="PH">Philippines</option>
              <option value="VN">Vietnam</option>
              <option value="KH">Cambodia</option>
              <option value="LA">Laos</option>
              <option value="MY">Malaysia</option>
            </select>
          </div>
        </div>
    <br>
    <div class="row">
      <input type="submit" value="Save">
    </div>
  </form>
</div>
