<div class="container">
  <h2>USER DIVERSITY</h2>
  <form action="action_page.php">

      <div class="row">
          <div class="col-25">
            <label for="gender">Gender</label>
          </div>
          <div class="col-75">
            <select id="gender" name="gender">
              <option value="" disabled selected>Select Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="birthDate">Birth Date</label>
          </div>
          <div class="col-75">
            <input type="date" id="birthDate" name="birthDate" >
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="status">Marital Status</label>
          </div>
          <div class="col-75">
            <select id="status" name="status">
              <option value="" disabled selected>Select Marital Status</option>
              <option value="Single">Single</option>
              <option value="Married">Married</option>
              <option value="Divorced">Divorced</option>
              <option value="Widowed">Widowed</option>
            </select>
          </div>
        </div>
    <br>
    <div class="row">
      <input type="submit" value="Save">
    </div>
  </form>
</div>
