<div class="container">
    <h2>USER INFORMATION</h2>
    <form action="action_page.php">

        <div class="row">
            <div class="col-25">
              <label for="title">Title</label>
            </div>
            <div class="col-75">
              <select id="title" name="title">
                <option value="" disabled selected>Select Title</option>
                <option value="Mr.">Mr</option>
                <option value="Mrs.">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Miss">Miss</option>
                <option value="Dr">Dr</option>
                <option value="Prof">Prof</option>
              </select>
            </div>
          </div>

      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your first name..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="mname">Middle Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="mname" name="middlename" placeholder="Your middle name..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="email">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="email" name="email" placeholder="Your email..">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="contactNo">Contact Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="contactNo" name="contactNo" placeholder="Your cotact number..">
        </div>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
  